		button{
			cursor: pointer;
			color: #71740E;
			margin-left: 20px;
			border: none;
			background-color: #FFCDD2;
			font-size: 19px;
			font-family: Trebuchet MS;
		}
		.aq{
			background-color: #EF5350;
			border: outset; 
		}
		.profile-buttons:hover{
			background-color: #FFF176;
			/*color: #b92b27;*/
		}
		.upvote{
			cursor: pointer;
			color: #4958CE;
			border: none;
			background-color: #A9AFDF;
			font-size: 16px;
			font-family: Trebuchet MS;
		}
		.upvote:hover{
			background-color: #F6F6FA;
		}
		.search{
			margin-left: 100px;
			width: 200px;
			height: 20px;
			background: url(https://png.icons8.com/?id=132&size=280) no-repeat scroll 1px 1px;
			background-size: 20px 20px;
			background-color: white;
			margin-top: 40px;
			padding-left: 25px; 
		}

		/*.trending{
			list-style: none;
			padding: 10px 10px 10px 10px;
			cursor: pointer;
			font-family: 'Raleway', sans-serif;
		}*/
		.profile-dropdown{
			display: none;
			background: white;
			position: fixed;
			margin-left: 730px;
			margin-top: -3.5%;
		}
		.profile-dropdown-buttons{
			cursor: pointer;
			text-align: left;
			background-color: white;
			border-style: none; 
			width: 75px;
			height: 30px;
			margin-bottom: 5px;

		}
		.profile-dropdown-buttons:hover, .trending:hover{
			background-color: #E0D5D3;

		}
		.content{
			width: 850px; 
			border-style: inset; 
			margin-left: 100px; 
			margin-top: 50px;
			background: #AAF4B5; 
			padding: 0 0 10px 10px; 
			font-family: 'Raleway', sans-serif;
		}
		/*.trending-list{
			position: fixed;
		}
		*/
		.about{
			text-decoration: none;
			color: black;
		}
		.con{
			/*margin-left: 100px;*/
			border-style: dotted;
			background-color: #91FAB7;
			height: 75px;
			width: 175px;
		}
		.con:hover{
			background-color: #C9D3D4;
		}
		.trto
		{
			margin-top: 50px;
			/*background-color: #AEE5E8;*/
			height: 500px;
			width: 250px;
			position: fixed; 
			margin-left: 1050px;
		}